.line {
  min-height: 40px;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
}

.line-right .chip {
  margin: 0.2rem;
}

.line-color {
  background-color: #d8d8d8b7;
}

.card {
  padding: 1.5rem 0.75rem;
  border: solid 1px #00000075;
}

.row {
  margin-bottom: 0;
	justify-content: center;
}

.image-box {
  display: flex;
  justify-content: center;
  animation: anim-pok-image 0.8s linear infinite alternate both;

	& img{
		max-width: 50vw;
		max-height: 50vw;
    width: 215px;
    height: 215px;
	}
}

.separator {
  width: 66%;
  margin-left: auto;
}

.details-infos {
  padding-right: 2rem;
  padding-left: 2rem;
}

.return-btn {
  color: rgb(255, 176, 123) !important;
}

.bottom-btns {
  margin: 1rem 0 0 0rem;

  button.p-ripple.p-element.p-button-text.p-button.p-component:hover {
    transition: all 200ms;
    transform: scale(1.1, 1.1);
  }
}

.page-not-found {
  text-align: center;

  .status-code h1 {
    font-size: 4rem;
    color: #ff000078;
    font-weight: bold;
    letter-spacing: 1.5rem;
  }

  .not-found-image {
    max-height: 50vh;
    max-width: 90vw;
    animation: anim-pok-image 0.8s linear infinite alternate both;
  }
}