<div class="container">
  <div class="row">
    <p-card class="text-center mb-4 col-10 col-xl-8 col-lg-8">
      <input
        type="text"
        #searchTerm
        (keyup)="searchPokemon(searchTerm.value)"
        class="col-10"
        pInputText
        placeholder="Récherche de pokemon"
      />

      <div
        class="col-10 mt-3 list-group"
        style="margin-left: auto; margin-right: auto"
      >
        <div
          *ngFor="let pokemon of pokemonList$ | async"
          class="pokname"
          style="cursor: pointer"
        >
          <div
            (click)="goToPokemonDetail(pokemon.id)"
            class="list-group-item list-group-item-action"
          >
            {{ pokemon.name }}
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>
