<div class="pokemon-list">
	<h2 class="page-title">Pokemons liste</h2>
	<div *ngIf="pokemonList" class="container" style="margin-bottom: 10vh;">
		<div class="pokemonPanel row">

			<p-card *ngFor="let pokemon of pokemonList"
				class="m-0 pokemon-card col-xl-3 col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 d.flex align-items-center"
				(click)='showPokemonDetail(pokemon.id)' title="voir les details de {{pokemon.name}}">

				<ng-template pTemplate="header" class="pok-image-emplate">
					<img alt="Card" [src]="pokemon.picture" class="pok-image" />
				</ng-template>

				<section class="pok-list-section" id="{{pokemon.name}}">
					<div class="m-1 pok-infos">
						<p class="pok-name">
							{{pokemon.name | uppercase}}
						</p>
						<p class="pok-date"> {{pokemon.created|date}} </p>
						<span *ngFor="let type of pokemon.types" class="{{type | pokemonTypeColor}}">
							{{type}}
						</span>
					</div>
				</section>

			</p-card>

		</div>
	</div>
	<div *ngIf="!pokemonList" class="not-pokemon-found">
		<h3 class="text-center" style="color: #db0000;">Aucun Pokémon trouvé</h3>

		<div class="pokemon-image d-flex justify-content-center">
			<img src="../../../assets/pokemon_images/293.png" style="max-width: 50vw;" alt="creasy pokemon image"
				title="image de pokemon désolé">
		</div>

		<div class="text-center mt-5 ">
			<p> Ajoutez-en avec le bouton<strong> + </strong>en bas à droite </p>
		</div>

	</div>
	<p-button icon="pi pi-plus" (click)="createNewPokemon()"
		styleClass="p-button-rounded p-button-text p-button-raised p-button-lg"></p-button>
</div>