@keyframes anim-pok-image {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}

.app-title {
  background-color: var(--app-title-color);
  width: 100%;
  padding: 1rem;
  margin-bottom: 3rem;
  text-align: center;

  & .pokedex {
    text-decoration: blink;
    color: blue;

    &:hover {
      color: blue;
      transform: scale(2, 2);
      text-shadow: 3px -2px 4px #2b834c;
    }

    & strong {
      font-weight: 600;
    }
  }
}

.page-title {
	width: 100%;
	margin-bottom: 1rem;
	text-align: center;
	text-decoration: underline;
}


.green.lighten-1 {
  background-color: #66BB6A !important;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
}

.green {
  background-color: #4CAF50 !important;
}

.deep-purple.accent-1 {
  background-color: #b388ff !important;
}

.red.lighten-1 {
  background-color: #EF5350 !important;
}

.blue.lighten-1 {
  background-color: #42A5F5 !important;
}

.brown.lighten-1 {
  background-color: #8d6e63 !important;
}

.blue.lighten-3 {
  background-color: #90CAF9 !important;
}

.grey.lighten-3 {
  background-color: #eee !important;
}

.lime.accent-1 {
  background-color: #f4ff81 !important;
}

.pink.lighten-4 {
  background-color: #f8bbd0 !important;
}

.deep-purple.darken-2 {
    background-color: #512da8 !important;
}