.page-title {
  background-color: rgb(75, 221, 160);
  width: 100%;
  padding: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.pokemon-card {
  border-radius: 5px;
  cursor: pointer;

  .p-card {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    min-height: 200px;

    &.p-component:hover {
      box-shadow: -1px -1px 14px -5px #0000009d;
      transform: scale(1.04, 1.04);
      border-radius: 10px;
    }

    @media only screen and (max-width: 350px) {
      flex-direction: column;
    }

    .p-card-body {
      width: 70% !important;
      padding: 10px;
      font-size: 0.8rem;

      @media only screen and (max-width: 350px) {
        width: 100% !important;
      }

      .pok-name {
        font-weight: bold;
        margin-bottom: 4px;
        font-size: 1.1rem;
      }
    }

    .pok-image {
      position: relative;
      top: -30px;
      left: -35px;
    }
  }
}