.pokemonPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .pokemon-card {
    margin: 10px;
    width: 30%;

    @media only screen and (max-width: 800px) {
      width: 45%;
    }

    @media only screen and (max-width: 600px) {
      width: 80%;
    }

    .p-card.p-component {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}