<div class="container">
	<h2 class="page-title text-center" style="font-weight: bold;letter-spacing: 1rem; font-size: xx-large;">
		{{pokemon?.name}} </h2>
	<div *ngIf="pokemon" class="card mb-5">
		<div class="row">
			<div class="col-md-4 col-sm-12 image-box">
				<img src="{{pokemon.picture}}" alt="">
			</div>
			<div class="container-fluid col-md-8 col-sm-12 details-infos">
				<div class="row line line-color name">
					<div class="line-left col-6">Nom et la modification apporter au nom</div>
					<div class="line-right col-6">{{pokemon.name}}</div>
				</div>
				<div class="row line name">
					<div class="line-left col-6">Point de vie</div>
					<div class="line-right col-6"> {{pokemon.hp}} </div>
				</div>
				<div class="row line line-color name">
					<div class="line-left col-6">Dégât</div>
					<div class="line-right col-6"> {{pokemon.cp}} </div>
				</div>
				<div class="row line name">
					<div class="line-left col-6">Types</div>
					<div class="line-right col-6">
						<span *ngFor="let type of pokemon?.types" class="{{type | pokemonTypeColor}}">
							{{type}}
						</span>
					</div>
				</div>
				<div class="row line line-color name">
					<div class="line-left col-6">Date de création</div>
					<div class="line-right col-6"><i> {{pokemon.created | date:'dd/mm/yy'}} </i></div>
				</div>
			</div>
			<div class="bottom-btns">
				<p-button label=" Retour" title="retour à la liste des pokemons" icon="pi pi-angle-left" class="return-btn"
					styleClass="p-button-text p-button-warning" (click)="gotToPokemonListPage( pokemon.name )"></p-button>
				<p-button label="Modilier" title="modifier les informations du pokemon" icon="pi pi-pencil" class="return-btn"
					styleClass="p-button-text" (click)="editPokemon( pokemon.id )"></p-button>
			</div>
		</div>
	</div>
</div>
<div *ngIf="!pokemon">
	<div class="page-not-found">
		<div class="status-code">
			<h1>
				404
			</h1>
			<img class="not-found-image" src="../../assets/pokemon_images/293.png">
		</div>
		<div>
			<h3>
				Ce Pokémon est introuvable
			</h3>
		</div>
		<p-button label="Retour à la liste des pokemons" icon="pi pi-angle-left" class="return-btn"
			styleClass="p-button-text p-button-primary" (click)="gotToPokemonListPage()"></p-button>
	</div>
</div>